# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!installer.iss
!build-release.ps1
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!PLAN.md
!PLAN-LINUX.md
!/docs/
!/docs/**
!/tests/
!/tests/**

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
